.header-content{
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    border: solid 1px gray;
}
.welcome-msg{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    margin-left: 2%;
}
.userName{
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(215, 13, 13, 0.822);
    margin-right: 2%;
}
.header-right{
    display: flex;
    justify-content: space-between;
}